<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCov2oYrK4qt_rCCHLnxtSuhp8zUnhZKB4</string>
	<key>GCM_SENDER_ID</key>
	<string>474695390757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.jeewoo.Election</string>
	<key>PROJECT_ID</key>
	<string>election-aa3d2</string>
	<key>STORAGE_BUCKET</key>
	<string>election-aa3d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474695390757:ios:900772e988489e6dfc11cc</string>
</dict>
</plist>